#highScoreView {
    float: left;
}

#timer {
    float: right;
}

header {
    background-color: maroon;
    color: #F0FFF0;
    margin: 5px;
    padding: 10px;
    height: 40px;
}

main {
    text-align: center;
}